
header {
    background-color: rgba(7, 7, 93, 0.524);
}

body {
    font-size: 30px;
}

h1 {
    font-weight: 700;
    font-size: 75px;
}

h2 {
    font-weight: 700;
    color: white;
    font-size: 65px;
}

h3 {
    font-weight: 600;
    color: white;
    font-size: 55px;
}

#quote {
    font-size: 45px;
    font-weight: 400;
    font-family: Helvetica, sans-serif;
    font-style: italic;
}

.card {
    border-radius: 1%;
    color: white;
    background-color: rgba(31, 30, 30, 0.461);
    padding:5px;
}

.card img {
    max-width: 200px;
    min-height: 200px;
}

.card li {
    font-size: 50px;
    padding:5px;
    margin: auto;

}

.btn-primary {
    background-color: rgba(7, 7, 93, 0.524);
    font-size: 45px;
}

.dyn-btn {
    background-color: rgba(8, 8, 216, 0.524);
    width: 200px;
    color: white;
}

.form-control {
    font-size: 3rem;
}