
header {
    background: linear-gradient(rgba(46, 7, 93, 0.524),rgba(7, 7, 93, 0.524) );
}

h1 {
    font-weight: 700;
    font-size: 30px;
}

h2 {
    font-weight: 700;
    color: white;
    font-size: 25px;
}

h3 {
    font-weight: 600;
    color: white;
    font-size: 20px;
}

#quote {
    font-size: 15px;
    font-weight: 300;
    font-family: Helvetica, sans-serif;
    font-style: italic;
}

.card {
    border-radius: 1%;
    color: white;
    background-color: rgba(31, 30, 30, 0.461);
    padding:5px;
}

.card img {
    max-width: 100px;
    min-height: 100px;
}

.card li {
    font-size: 15px;
    padding:2px;
    margin: auto;

}

.btn-primary {
    background-color: rgba(7, 7, 93, 0.524);
    font-size: 16px;
}

.dyn-btn {
    background-color: rgba(8, 8, 216, 0.524);
    color: white;
    font-size: 16px;
    margin: 5px;
    padding: 2px;
    width: 100%;
}

.form-control {
    font-size: 1rem;
}